.nav {
  height: 70px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between; /* justify-content를 space-between으로 변경 */
  align-items: center;
}

.nav-right-items{
 display: flex;
 margin-left: auto;
}

.nav-item {
  margin-left: 20px;
  padding: 0.5rem;
}

.nav-item-button {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.title {
  font-size: 3.5rem;
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}
    
.subtitle {
  font-size: 1.25rem;
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
  color: #212529;
  margin: 30px 0;
 
}
    
.main {
  width: 1000px;
  margin: 0 auto;
}

.price-item {
  width: 300px;
  height: 350px;
  border: 1px solid #e0e0e0;
  margin: 20px;
  border-radius: 4px;
  text-align: center;
}

.price {
 display: flex;
 margin: 20px;
 border-radius: 4px;
 text-align: center; /* 정렬 */
}

.price-item-price span {
  font-size: 80%;
  color: #6c757d;
  font-weight: 400;
}

.price-item-title {
  font-size: 1.5rem;
  background-color: rgba(0,0,0,.03);
  height: 53px;
  line-height: 53px;
  border-bottom : 1px solid #e0e0e0
}

.price-item-price {
  font-size: 2.5rem;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.price-item-button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  margin-top: 30px;
  width:250px;  
  flex: 1;
}

.price-item-button--active {
background-color: #007bff;
color: white;
}